html {
    background: url("apoca2.jpg") no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.body {
    margin: 0;

}
.outter {
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position:bottom ; */
}
.main {

    width: 95vw;
    height: 70vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px 0 10px 115px;
    box-sizing: border-box;

}

.main div {
    /* height:fit-content; */
    padding: 8px;
    border: 1px solid #000000;

}


.header {
    height: 627px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
width: 102%;
    border: 0.1rem solid rgb(187, 183, 183);
    border-radius: 3%;
    box-shadow: 8px 8px 5px rgb(17, 0, 0);
    padding: 8px;
    /* background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc); */
    opacity: 100%;
    background-color: #000000;
    background-image: linear-gradient(315deg, #7c7979 40%, #343435 44%);
}

#mainframe {
    background-color: rgb(0, 0, 0);
}

.connectors {
    margin-top: 60px;
    border: 1px solid rgb(3, 190, 87);
    border-radius: 20%;
    box-shadow: 8px 1px 5px rgb(17, 0, 0);
    padding: 0;
    background-color: #000000;
    opacity: 100%;
}

.controls {
    opacity: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: -15px;
    border: 1px solid rgb(20, 19, 19);
    border-radius: 25%;
    box-shadow: 8px 8px 5px rgb(17, 0, 0);
    padding: 15px 5px !important;
    background-color: #000000;
    background-image: linear-gradient(315deg, #2e2e2e 40%, #757474 44%);
}


.button1 {
    box-shadow: 3px 4px 5px 2px #270909;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #240806;
    border-radius: 5px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor:pointer ;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 0 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #f7f2f2;
}
.button1:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}
.button1:active {
    position: relative;
    top: 1px;
}

.skillsbox {
    width: 50%;
    margin-top: 120px;
    margin-left: 82px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: black;
    opacity: 80%;
    color: white;
    border: 1 solid;
    border-radius: 20px;
    text-align: center !important;
}

.slist {
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
}
.infoscreen {

    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    border-radius: 19% !important;
}


.logo {
    display: flex;
    font-size: 10px;
    width: 70%;
    height: 8%;
    margin-top: 28px;
    margin-left: 50px;
    margin-right: 70px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10px !important;
    border: 1px solid !important;
    border-radius: 40px;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    opacity: 85%;
}

p {
    border-right: solid 5px rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    color: rgba(7, 160, 53, 0.7);
}

/* Animation */
p {
    animation: animated-text 4s linear 1s 1 normal both, animated-cursor 600ms linear infinite;
}

/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* cursor animations */

@keyframes animated-cursor {
    from {
        border-right-color: rgba(7, 161, 28, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes spin3D {
    from {
        transform: rotateY(0deg)
    }
    to {
        transform: rotateY(360deg)
    }
}
.spinhov3D {
    animation-name: spin3D;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-in-out;
}

#kitt {
  position: relative;
  top: 100px;
  left: 50%;
  width: 30px;
  height: 20px;
  margin: -25px 0px 0 -493px;
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten {
  width: -6px;
  height: 10px;
  background: rgb(0, 110, 255);
  margin: 0px;
  display:absolute ;
  -webkit-box-shadow: 0 0 30px red, inset 0 0 5px rgba(255,255,255, 0.5);
  border-radius: 5px;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
.one {
   -webkit-animation-name: first ;
}
.two {
  -webkit-animation-name: second ;
}
.three {
  -webkit-animation-name: third ;
}
.four {
  -webkit-animation-name: fourth ;
}
.five {
  -webkit-animation-name: fifth ;
}
.six {
  -webkit-animation-name: sixth ;
}
.seven {
  -webkit-animation-name: seventh ;
}
.eight {
  -webkit-animation-name: eighth ;
}
.nine {
  -webkit-animation-name: ninth ;
}
.ten {
  -webkit-animation-name: tenth ;
}
@-webkit-keyframes first {
  0%   {opacity:0.2;}
  10%  {opacity:1;}
  20%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes second {
  0%   {opacity:0;}
  10%   {opacity:0.2;}
  20%  {opacity:1;}
  30%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes third {
  0%   {opacity:0;}
  20%  {opacity:0.2;}
  30%  {opacity:1;}
  40%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes fourth {
  0%   {opacity:0;}
  30%  {opacity:0.2;}
  40%  {opacity:1;}
  50%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes fifth {
  0%   {opacity:0;}
  40%  {opacity:0.2;}
  50%  {opacity:1;}
  60%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes sixth {
  0%   {opacity:0;}
  50%  {opacity:0.2;}
  60%  {opacity:1;}
  70%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes seventh {
  0%   {opacity:0;}
  60%  {opacity:0.2;}
  70%  {opacity:1;}
  80%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes eighth {
  0%   {opacity:0;}
  70%  {opacity:0.2;}
  80%  {opacity:1;}
  90%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes ninth {
  0%   {opacity:0;}
  80%  {opacity:0.2;}
  90%  {opacity:1;}
  100% {opacity:0.2;}
}
@-webkit-keyframes tenth {
  0%   {opacity:0;}
  90%  {opacity:0.2;}
  100%  {opacity:1;}
}
